body {
  background-color: #f8f9fa;
}

.container-custom {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-custom {
  color: #007bff;
}

.button-custom {
  background-color: #007bff;
  border-color: #007bff;
}

.button-custom:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
